<div class='navbar'>
    ONLINE EXAM PORTAL
 <button class="logoutbtn">Logout</button>
</div>
<div class="secnav">
    STUDENT DASHBOARD
</div>
<div class="livetests">
    <div class="livetesthead">
        LIVE TESTS
    </div>
    <div class="testbox">
        <div class='cntr'>TEST 2</div>
        <button class="testbtn">ATTEND</button>
    </div>
    <div class="testbox2">
        <div class='cntr'>TEST 3</div>
        <button class="testbtn2">ATTEND</button>
    </div>
    
</div>
<div class="completed">
    <div class="livetesthead">
        COMPLETED TESTS
    </div> 
    <div class="ctd">
        <a href="abc">TEST 1</a>
        <div class="status"> 
                Marks: 40/50
        </div>
    </div>
</div>
