body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #2277e9;
  color: white;
  padding-left: 3vw;
  height: 6vh;
  padding-top: 2vh;
  padding-right: 2vw;
  font-size: large;
}
.logoutbtn {
  /* padding: 2px;*/
  height: 25px;
  width: 7vw;
  background-color: #13bd51;
  color: white;
  float: right;
}
.logoutbtn:hover {
  border-color: black;
  color: black;
}

.secnav {
  background-color: #3cd375;
  color: black;
  padding-left: 3vw;
  height: 4vh;
  padding-top: 2vh;
  padding-right: 2vw;
  font-size: 15px;
}

.testdetform {
  margin-top: 30px;
  margin-left: 15vw;
  border: solid black 1px;
  width: 70vw;
  height: 65vh;
}

.testhead {
  background-color: #7e8982;
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30vw;
}
.formt {
  padding-top: 40px;
  padding-left: 70px;
  font-size: 20px;
  background-color: #1771ab;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-bottom: 78px;
  height: 40vh;
  width: 43vh;
}

.tb {
  height: 20px;
  width: 220px;
}

.nextbtn {
  color: white;
  background-color: #13bd51;
  width: 10vw;
  height: 35px;
  border-radius: 5px;
  margin-left: 45px;
  position: absolute;
  bottom: 180px;
}
