<div class='navbar'>
    ONLINE EXAM PORTAL
 <button class="logoutbtn">Logout</button>
</div>
<div class="secnav">
    ADDING STUDENT DETAILS
</div>
<div class="testdetform">
    <div class="testhead">
       STUDENT DETAILS
    </div>
    <form class="formt">
        <input type="text" id="Name" name="name" placeholder="Name" class="tb"><br><br>
        <input type="text" id="Urno" name="University Roll No" placeholder="University Roll No " class="tb"><br><br>
        <input type="text" id="Branch" name="Branch" placeholder="Branch" class="tb"><br><br>
        <input type="text" id="Batch" name="Batch" placeholder="Batch" class="tb"><br><br><br><br>
        <button class="nextbtn">Next</button>
    </form>
</div>
