<div class="container">
    <div class='navbar'>
        ONLINE EXAM PORTAL
     <button class="logoutbtn">Logout</button>
    </div> 
    <div class='ctb'>
    <button class="createtestbtn">CREATE</button>
     </div>
    <div class='testhead'>
     TESTS
    </div>
    <div class="tests" id='t1'>
        <a href="abc">TEST 1</a>
        <div class="status"> 
            IN DESIGN
        </div>
    </div>
    <div class="tests" id='t2'>
     <a href="abc">TEST 2</a>
     <div class="status"> 
         COMPLETED <button class="resultbtn">Result</button>
     </div>
 </div>



</div>
    

