<div class='navbar'>
    ONLINE EXAM PORTAL
 <a class="instn" href="ABC" >INSTRUCTIONS</a>   
 <button class="submitbtn">Submit</button>
</div>
<div class="exam">
    <div class="tlwc">
        WARNING COUNT:
        <div class="tl">Time Left:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</div>
    </div>
    <div class="qno">
        
        QUESTION NUMBER<br>
    </div>
    <hr>
    <div class="qn">
        QUESTION
    </div>
    <hr>
    <div class="optn">
        <form>
        <!-- <label for="type">TEST TYPE:&emsp;&emsp;&emsp;&nbsp;</label>&emsp; -->
        <input type="radio" id="op1" name="test " value="Option A">
        <label for="MCQ">Option A</label>
        <input type="radio" id="Op2" name="test " value="Option B">
        <label for="One word">Option B</label> <br>
        <input type="radio" id="op3" name="test " value="Option C">
        <label for="Subjective">Option C</label><br>
        <input type="radio" id="op4" name="test " value="Option D">
        <label for="MCQ">Option D</label><br><br>
        <button class="clear">Clear response</button>
        
        
        </form>
    </div>
    <button type="button" class="prev">PREVIOUS</button>
    <button type="button" class="next">NEXT</button>
    
</div>
<div class="rs">
    <div class="vs">
       <div class="vtxt">Video Survilance</div> 
    </div>
    <div class="ql">
        <button type="button" class="qb">1</button>
        <button type="button" class="qb">2</button>
        <button type="button" class="qb">3</button>
        <button type="button" class="qb">4</button>
        <button type="button" class="qb">5</button>
        <button type="button" class="qb">6</button>
        <button type="button" class="qbc">7</button>
        <button type="button" class="qbw">8</button>
        <button type="button" class="qbw">9</button>
    </div>
</div>
