body{
    margin: 0;
    padding: 0;
}

.navbar{

    background-color:#2277E9;
    color: white;
    padding-left: 3vw;
    height: 6vh;
    padding-top: 2vh;
    padding-right: 2vw;
    font-size: large;
    
}
.logoutbtn{
    /* padding: 2px;*/
    height: 25px;
     width: 7vw;
     background-color: #13BD51;
     color: white;
 }
 .logoutbtn:hover{
     border-color: black;
     color: black;
 }

 
 .secnav{
    background-color:#3CD375;
    color: black;
    padding-left: 40vw;
    height: 4vh;
    padding-top: 2vh;
    padding-right: 2vw;
    font-size: 15px;
    
}

.det2{
    margin-top: 40px;
    margin-left: 5vw;
    /* color: #2277E9; */
    font-size: 20px;
}
.btn{
    margin-left: 60px;
    height: 25px;
    width: 80px;
    color: white;
    background-color: #2277E9;
}

.btn:hover{
    height: 30px;
    width: 96px;
}

.img{
    position: absolute;
    left:70vw;
    top: 25vh;
    border:solid 1px #2277E9;
    height: 25vh;
    width: 25vh;
    color: #2277E9;
    text-align: center;
}
.imgtxt{
    padding-top: 35%;
}

.nxtbtn{
    color: white;
    background-color: #13BD51;
    width: 10vw;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    left: 45vw;
    top: 70vh;
}