<div class="container">
    <div class='navbar'>
        ONLINE EXAM PORTAL
     <button class="logoutbtn">Logout</button>
    </div>
    <div class="secnav">
        <a href="abc">CREATE</a>&emsp; 
        <a href="abc">PUBLISH</a>
    </div>
    <div class="page">
        <div class="pagehead">
            PAGE 1
        </div>
        <div class="questions">
            <button class="addques">ADD OUESTION 1</button>
        </div>
    </div>
    <button class="addpage">ADD PAGE</button>

</div>

