<div class='navbar'>
    ONLINE EXAM PORTAL
 <button class="logoutbtn">Logout</button>
</div>
<div class="secnav">
    PHOTO AND AUDIO SUBMISSION
</div>
<div class="det2">
    <br>
    <br>
    CLICK HERE TO CAPTURE IMAGE:
    <button type="button" class="btn">CAPTURE</button>
    <br><br>
    CLICK HERE TO RECORD AUDIO: &nbsp;
    <button type="button" class="btn">RECORD</button><br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;(Record 3 times)
    <div class="img">
        <div class="imgtxt" >IMAGE</div>
    </div>
    <br>
    <br>
    <button class="nextbtn">Next</button>
</div>
